<div class="row">
    <div class="col-md-12 d-flex">
        <div class="col-md-4" style="margin-top: 20px; margin-left: 30px;">
            <div class="card">
                <div class="col-md-12 d-flex">
                    <div class="col-md-6 pl-2 mt-2">
                        <p>{{ formDetails[0].name }}</p>
                    </div>
                    <div class="col-md-6 pr-2 mt-2">
                        <p style="float: right;">Bank Logo</p>
                    </div>
                </div>
                <div class="col-md-12 pl-2 d-flex" style="text-align: center; margin-top: 24px;">
                    <div class="col-md-12">
                        <p style="">{{ formDetails[0].number }}</p>
                    </div>
                </div>
                <div class="col-md-12 d-flex" style="margin-top: 24px;">
                    <div class="col-md-4 pl-2">
                        <p style="">{{ formDetails[0].date }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="text-align: center;">{{ formDetails[0].cvv }}</p>
                    </div>
                    <div class="col-md-4 pr-2">
                        <p style="float: right;">Card Type</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>